<h1>About Me:</h1>
I'm a Software Engineer graduated at Centennial College, in Toronto, Canada.<br>
I have many years of work experience in IT working as a COBOL/CICS programmer, Business Analyst,<br>
as well as experience from college and competitive gaming as a leader, decision maker, and <br>
having to work under pressure. I also like to go to the gym, watch televion series and movies.<br>
as well as play a bit of video games.